*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    width: 80%;
    height: 70px;
    margin-left: 160px;
    margin-top: 10px;
}
.container .logo h1{
    color: crimson;
    margin-top: 10px;
    font-size: xx-large;
    
}
h1{
    text-align: center;
}
.container ul{
    margin-left: 400px;
    margin-top: 20px;
}
.container li{
    float: left;
    list-style: none;
    margin: 13px 20px;
}
.container .btn{
    border: 1px;
    border-radius: 30px;
    background-color: crimson;
    color: white;
    padding: 9px 30px;
    margin: 13px 20px;
    font-size: 14px;

}
.container li a{
    padding: 3px 3px;
    text-decoration: none;
    color: rgb(7, 7, 7);
}
/*section 1st*/
.leftpart{
   margin-top: 90px;
    height: 300px;
    width: 100%;
}

.container2{
    display: flex;
    margin-top: 50px;
}
.leftpart div{
   font-size: 1.8rem;
   margin-left: 165px;
   font-weight: bold;
}
span{
    color: crimson;
}
.leftpart .para1{
    font-size: 0.7rem;
    margin-left: 185px;
    font-weight: 110;
    margin-top: 20px;
    width: 220px;

}
.leftpart .btn1{
    border: 1px;
    border-radius: 30px;
    background-color: crimson;
    color: white;
    padding: 9px 25px;
    font-size: 10px;
}
.leftpart .btn2{
    border: 1px solid black;
    border-radius: 30px;
    background-color: white;
    color: black;
    padding: 9px 35px;
    font-size: 10px;
}
.leftpart .botton2{
    margin-top: 20px;
}
.rightpart{
    margin-top: 10px;
     height: 400px;
     width: 100%;
     margin-right: 200px;
     border: 2px solid red;
     border-radius: 10px;
     background-image: url(./lms_img3.jpg);
     background-size: cover;


 }